@import "tailwindcss";

@theme {
  --color-primary: #4a90e2;

  --color-secondary: #f5a623; /* Vibrant Orange */

  --color-background-light: #ffffff; /* White */
  --color-background-dark: #181818; /* Very Dark Gray/Black */

  --color-text-light: #333333; /* Dark Gray */
  --color-text-dark: #e5e5e5; /* Light Gray */

  --color-accent-light: #50e3c2; /* Turquoise */
  --color-accent-dark: #50e3c2; /* Turquoise */

  --color-link-light: #1c6dd0; /* Blue */
  --color-link-dark: #1c6dd0; /* Blue */
}

@custom-variant dark (&:where(.dark, .dark *));
